schema/geosciml-thematicView.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml"
    xmlns:gsmltv="http://geosciml.org/xmlns/geosciml-thematicview/1.0.0"
    targetNamespace="http://geosciml.org/xmlns/geosciml-thematicview/1.0.0"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>The GeoSciML Thematic View (GeoSciML-TV) schema standardises the interaction
            (request/response formats) with layer-based map services. It is best thought of as a
            view of GeoSciML data that denormalizes the data and concatenates complex property
            values into single, human-readable, labels and returns single, representative, values
            from controlled vocabularies for properties multi-valued properties that can be used
            when generating thematic maps, or portrayals, of the data. It is separate to, but
            harmonized with, GeoSciML and conforms to the level 0 of the Simple Features Profile for
            GML (link). Labels, will be 'free-text' fields that will be, in robust services,
            well-structured summaries of complex GeoSciML data, while the representative thematic
            properties will be URIs of concepts in a controlled vocabulary (for example CGI Simple
            Lithology). There will also be links, via identifier URIs*, providing hooks to full
            GeoSciML representations of a the geologic feature in question. </documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml"
        schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <element name="ContactView" substitutionGroup="gml:_Feature" type="gsmltv:ContactViewType">
        <annotation>
            <documentation>Simplified view of a GeoSciML Contact. In GeoSciML terms this will be in
                instance of a MappedFeature with key property values from the associated Contact
                feature summarised as labels (unconstrained character strings) or arbitrarily
                selected classifiers to be used for thematic mapping purposes. The latter are the
                properties suffixed with '_uri' and will contain URIs referring to controlled
                concepts in published vocabularies. </documentation>
        </annotation>
    </element>
    <complexType name="ContactViewType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="anyURI">
                        <annotation>
                            <documentation>Globally unique identifer. Should have the same value as
                                the corresponding GeoSciML MappedFeature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string">
                        <annotation>
                            <documentation>Display name for the the Contact. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>Text description of the Contact, typically taken from an
                                entry on a geological map legend. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="contactType" type="string">
                        <annotation>
                            <documentation>Type of Contact (as defined in GeoSciML).
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="observationMethod" type="string">
                        <annotation>
                            <documentation>Metadata snippet indicating how the spatial extent of the
                                feature was determined. ObservationMethod is a convenience property
                                that provides a quick and dirty approach to observation metadata
                                when data are reported using a feature view (as opposed to
                                observation view). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="positionalAccuracy" type="string">
                        <annotation>
                            <documentation>Quantitative values define the radius of an uncertainty
                                buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a
                                line feature defines a buffer polygon of total width 200 m centred
                                on the line). </documentation>
                        </annotation>
                    </element>
                    <element name="contactType_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept from a vocabulary
                                defining the Contact types. Mandatory propery - if not value is
                                provided then a URI referring to a conctrolled concept explaining
                                why the value is nil must be provided. </documentation>
                        </annotation>
                    </element>
                    <element name="specification_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring the the GeoSciML Contact feature that
                                describes the instance in detail. Mandatory propery - if not value
                                is provided then a URI referring to a conctrolled concept explaining
                                why the value is nil must be provided. </documentation>
                        </annotation>
                    </element>
                    <element name="metadata_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a metadata record describing the
                                provenance of data. </documentation>
                        </annotation>
                    </element>
                    <element name="source_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to reference material and publications
                                describing the geologic feature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="genericSymbolizer" type="string">
                        <annotation>
                            <documentation>Identifier for a symbol from standard (locally or
                                community defined) symbolization scheme for portrayal.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="shape" type="gml:GeometryPropertyType">
                        <annotation>
                            <documentation>Geometry defining the extent of the feature of interest.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ContactViewPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltv:ContactView"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="ShearDisplacementStructureView" substitutionGroup="gml:_Feature"
        type="gsmltv:ShearDisplacementStructureViewType">
        <annotation>
            <documentation>Simplified view of a GeoSciML ShearDisplacementStructure. In GeoSciML
                terms this will be in instance of a MappedFeature with key property values from the
                associated ShearDisplacementStructure feature summarised as labels (unconstrained
                character strings) or arbitrarily selected classifiers to be used for thematic
                mapping purposes. The latter are the properties suffixed with '_uri' and will
                contain URIs referring to controlled concepts in published vocabularies.
            </documentation>
        </annotation>
    </element>
    <complexType name="ShearDisplacementStructureViewType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="anyURI">
                        <annotation>
                            <documentation>Globally unique identifer. Should have the same value as
                                the corresponding GeoSciML MappedFeature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string">
                        <annotation>
                            <documentation>Display name for the the ShearDisplacementStructure.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>Text description of the ShearDisplacementStructure,
                                typically taken from an entry on a geological map legend.
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="faultType" type="string">
                        <annotation>
                            <documentation>Type of ShearDisplacementStructure (as defined in
                                GeoSciML). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="movementType" type="string">
                        <annotation>
                            <documentation>Summarises the type of movement (eg dip-slip,
                                strike-slip) on the ShearDisplacementStructure. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="deformationStyle" type="string">
                        <annotation>
                            <documentation>Describes the style of deformation (eg brittle,ductile
                                etc) for the ShearDisplacementStructure. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="displacement" type="string">
                        <annotation>
                            <documentation>Summarises the displacement across the
                                ShearDisplacementStructure. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="geologicHistory" type="string">
                        <annotation>
                            <documentation>Text (possibly formatted with formal syntax) description
                                of the age of the ShearDisplacementStructure (where age is a
                                sequence of events and may include process and environment
                                information). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="observationMethod" type="string">
                        <annotation>
                            <documentation>Metadata snippet indicating how the spatial extent of the
                                feature was determined. ObservationMethod is a convenience property
                                that provides a quick and dirty approach to observation metadata
                                when data are reported using a feature view (as opposed to
                                observation view). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="positionalAccuracy" type="string">
                        <annotation>
                            <documentation>Quantitative values define the radius of an uncertainty
                                buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a
                                line feature defines a buffer polygon of total width 200 m centred
                                on the line). </documentation>
                        </annotation>
                    </element>
                    <element name="faultType_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept from a vocabulary
                                defining the fault (ShearDisplacementStructure) type. Mandatory
                                propery - if not value is provided then a URI referring to a
                                conctrolled concept explaining why the value is nil must be
                                provided. </documentation>
                        </annotation>
                    </element>
                    <element name="movementType_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept from a vocabulary
                                defining the ShearDisplacementStructure movement type. Mandatory
                                propery - if not value is provided then a URI referring to a
                                conctrolled concept explaining why the value is nil must be
                                provided. </documentation>
                        </annotation>
                    </element>
                    <element name="deformationStyle_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept from a vocabulary
                                defining the ShearDisplacementStructure deformation style. Mandatory
                                propery - if not value is provided then a URI referring to a
                                conctrolled concept explaining why the value is nil must be
                                provided. </documentation>
                        </annotation>
                    </element>
                    <element name="representativeAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative stratigraphic age interval for the GeologicUnit. This
                                will be defined entirely at the discretion of the data provider and
                                may be a single event selected from the geologic feature's
                                geological history or a value summarising the all or part of the
                                feature's history. </documentation>
                        </annotation>
                    </element>
                    <element name="representativeLowerAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative lower value in a range of stratigraphic age intervals
                                for the GeologicUnit. This will be defined entirely at the
                                discretion of the data provider and may be a single event selected
                                from the geologic feature's geological history or a value
                                summarising the all or part of the feature's history.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="representativeUpperAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative upper value in a range of stratigraphic age intervals
                                for the GeologicUnit. This will be defined entirely at the
                                discretion of the data provider and may be a single event selected
                                from the geologic feature's geological history or a value
                                summarising the all or part of the feature's history.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="specification_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring the the GeoSciML ShearDisplacementStructure
                                feature that describes the instance in detail. Mandatory propery -
                                if not value is provided then a URI referring to a conctrolled
                                concept explaining why the value is nil must be provided.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="metadata_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a metadata record describing the
                                provenance of data. </documentation>
                        </annotation>
                    </element>
                    <element name="source_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to reference material and publications
                                describing the geologic feature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="genericSymbolizer" type="string">
                        <annotation>
                            <documentation>Identifier for a symbol from standard (locally or
                                community defined) symbolization scheme for portrayal.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="shape" type="gml:GeometryPropertyType">
                        <annotation>
                            <documentation>Geometry defining the extent of the feature of interest.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ShearDisplacementStructureViewPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltv:ShearDisplacementStructureView"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element name="GeologicUnitView" substitutionGroup="gml:_Feature"
        type="gsmltv:GeologicUnitViewType">
        <annotation>
            <documentation>Simplified view of a GeoSciML GeologicUnit. In GeoSciML terms this will
                be in instance of a MappedFeature with key property values from the associated
                GeologicUnit feature summarised as labels (unconstrained character strings) or
                arbitrarily selected classifiers to be used for thematic mapping purposes. The
                latter are the properties suffixed with '_uri' and will contain URIs referring to
                controlled concepts in published vocabularies. </documentation>
        </annotation>
    </element>
    <complexType name="GeologicUnitViewType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identifier" type="anyURI">
                        <annotation>
                            <documentation>Globally unique identifer. Should have the same value as
                                the corresponding GeoSciML MappedFeature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string">
                        <annotation>
                            <documentation>Display name for the the GeologicalUnit. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>Text description of the GeologicUnit, typically taken
                                from an entry on a geological map legend. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="geologicUnitType" type="string">
                        <annotation>
                            <documentation>Type of GeologicUnit (as defined in GeoSciML).
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="rank" type="string">
                        <annotation>
                            <documentation>Rank of GeologicUnit (as defined in GeoSciML).
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lithology" type="string">
                        <annotation>
                            <documentation>Text (possibly formatted with formal syntax) description
                                of the GeologicUnit's lithology. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="geologicHistory" type="string">
                        <annotation>
                            <documentation>Text (possibly formatted with formal syntax) description
                                of the age of the GeologicUnit (where age is a sequence of events
                                and may include process and environment information).
                            </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="observationMethod" type="string">
                        <annotation>
                            <documentation>Metadata snippet indicating how the spatial extent of the
                                feature was determined. ObservationMethod is a convenience property
                                that provides a quick and dirty approach to observation metadata
                                when data are reported using a feature view (as opposed to
                                observation view). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="positionalAccuracy" type="string">
                        <annotation>
                            <documentation>Quantitative values define the radius of an uncertainty
                                buffer around a mappedFeature (eg: a positionAccuracy of 100 m for a
                                line feature defines a buffer polygon of total width 200 m centred
                                on the line). </documentation>
                        </annotation>
                    </element>
                    <element name="geologicUnitType_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept from a vocabulary
                                defining the GeologicUnit types. Mandatory propery - if not value is
                                provided then a URI referring to a conctrolled concept explaining
                                why the value is nil must be provided. </documentation>
                        </annotation>
                    </element>
                    <element name="representativeLithology_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the
                                characteristic or represntative lithology of the unit. This may be a
                                concept that defines the super-type of all lithology values present
                                within a GeologicUnit or a concept defining the lithology of the
                                dominant CompositionPart (as defined in GeoSciML) of the unit.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="representativeAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative stratigraphic age interval for the GeologicUnit. This
                                will be defined entirely at the discretion of the data provider and
                                may be a single event selected from the geologic feature's
                                geological history or a value summarising the all or part of the
                                feature's history. </documentation>
                        </annotation>
                    </element>
                    <element name="representativeLowerAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative lower value in a range of stratigraphic age intervals
                                for the GeologicUnit. This will be defined entirely at the
                                discretion of the data provider and may be a single event selected
                                from the geologic feature's geological history or a value
                                summarising the all or part of the feature's history.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="representativeUpperAge_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a controlled concept specifying the most
                                representative upper value in a range of stratigraphic age intervals
                                for the GeologicUnit. This will be defined entirely at the
                                discretion of the data provider and may be a single event selected
                                from the geologic feature's geological history or a value
                                summarising the all or part of the feature's history.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="specification_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring the the GeoSciML GeologicUnit feature that
                                describes the instance in detail. Mandatory propery - if not value
                                is provided then a URI referring to a conctrolled concept explaining
                                why the value is nil must be provided. </documentation>
                        </annotation>
                    </element>
                    <element name="metadata_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to a metadata record describing the
                                provenance of data. </documentation>
                        </annotation>
                    </element>
                    <element name="source_uri" type="anyURI">
                        <annotation>
                            <documentation>URI referring to reference material and publications
                                describing the geologic feature. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="genericSymbolizer" type="string">
                        <annotation>
                            <documentation>Identifier for a symbol from standard (locally or
                                community defined) symbolization scheme for portrayal.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="shape" type="gml:GeometryPropertyType">
                        <annotation>
                            <documentation>Geometry defining the extent of the feature of interest.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeologicUnitViewPropertyType">
        <sequence minOccurs="0">
            <element ref="gsmltv:GeologicUnitView"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
</schema>